version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: writexploit_db
    restart: always
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: writexploit_backend
    ports:
      - "8000:8080"
    env_file:
      - ./backend/.env
    restart: always
    depends_on:
      - postgres
    volumes:
      - ./backend:/app
    command: npm start

  frontend:
    build: ./frontend
    container_name: writexploit_frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  pgdata:
